$form-background-color: #fff;
$form-border-color: #ebebeb;
$text-black-color: #000;
$text-gray-color: #818d99;
$text-dark-gray-color: #3e454c;
$text-white-color: #fff;
$button-blue-color: #2e81e0;
$button-dark-blue-color: #1f74d6;
$button-white-color: #fff;
$select-background-color: #fbfbfb;
$select-border-color: #ebebeb;
$select-blue-color: #66b0f3;
$select-dark-blue-color: #489ff1;