$white-color: #fff;
$white-dark-color: #fbfbfb;
$black-color: #000;
$gray-color: #ebebeb;
$gray-primary-color: #818d99;
$gray-dark-primary-color: #3e454c;
$blue-color: #2e81e0;
$blue-dark-color: #1f74d6;
$blue-primary-color: #66b0f3;
$blue-dark-primary-color: #489ff1;
