@import "@app/styles/variables";

.textArea {
	display: block;
	background-color: $white-dark-color;
	border: 1px solid $gray-color;
	border-radius: 5px;
	padding: 8px 5px 8px 10px;
	font-size: 12px;
	line-height: 14px;
	color: $black-color;
	min-height: 72px;
	resize: none;
	transition: 0.3s ease-in-out;

	&::placeholder {
		color: $gray-primary-color;
	}

	&:focus {
		border: 1px solid $blue-primary-color;
	}
}