@import "@app/styles/variables";

.weekDay {
	font-family: Rubik, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	color: $text-dark-gray-color;
	padding: 6px 0;
}

.time {
	font-family: Rubik, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	transition: 0.2s ease-in-out;
}